# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY
	default "ensemble" if SOC_FAMILY_ENSEMBLE

config NONSECURE0_REGION
	string
	default "NON-SECURE0" if $(dt_nodelabel_enabled,ns)
	help
	    Provide config Non-Secure region

config OSPI0_XIP_REGION
	string
	default "ospi0" if $(dt_nodelabel_enabled,ospi0)
	help
		Configure OSPI0 XIP memory mapped region name

config OSPI1_XIP_REGION
	string
	default "ospi1" if $(dt_nodelabel_enabled,ospi1)
	help
		Configure OSPI1 XIP memory mapped region name

rsource "*/Kconfig.soc"
