# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY
	default "ensemble" if SOC_FAMILY_ENSEMBLE

config NONSECURE0_REGION
	string
	default "NON-SECURE0" if $(dt_nodelabel_enabled,ns)
	help
	    Provide config Non-Secure region

config SYSTEM_HEAP_IN_SRAM
	int "Move system heap to SRAM"
	range -1 1
	default -1
	help
		Move system heap to SRAM. Set to 0 for SRAM0, 1 for SRAM1,
		or -1 to keep the default location.

rsource "*/Kconfig.soc"
