# Copyright (c) 2025 Alifsemiconductor
# SPDX-License-Identifier: Apache-2.0

config UDC_DWC3
	bool "DWC3 USB device controller driver"
	default y
	depends on DT_HAS_SNPS_DWC3_ENABLED
	help
	  DWC3 USB device controller driver.

config UDC_DWC3_STACK_SIZE
	int "UDC DWC3 driver internal thread stack size"
	depends on UDC_DWC3
	default 2048
	help
	  DWC3 driver internal thread stack size.

config UDC_DWC3_THREAD_PRIORITY
	int "UDC DWC3 driver thread priority"
	depends on UDC_DWC3
	default 8
	help
	  DWC3 driver thread priority

config UDC_DWC3_MAX_QMESSAGES
	int "DWC3 UDC driver maximum number of ISR event messages"
	range 4 64
	default 16
	help
	  Maximum number of messages for handling of DWC3 USBD ISR events.
