# Alif PDM driver configuration options

# Copyright (C) 2025 Alif Semiconductor
# SPDX-License-Identifier: Apache-2.0

config ALIF_PDM
	bool "Alif PDM module driver enable"
	default y
	depends on DT_HAS_ALIF_ALIF_PDM_ENABLED
	help
		Enable Alif PDM module driver
if ALIF_PDM

config ALIF_PDM_USE_DMA
	bool "DMA path for Alif PDM transfers"
	default n
	help
		Enables the DMA code path for Alif PDM audio capture.
		Even though the code path will be enabled by this, DMA will
		be enabled based on the dts.

endif # ALIF_PDM