# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_E1C
	bool
	select SOC_FAMILY_ENSEMBLE

config SOC_SERIES
	default "e1c" if SOC_SERIES_E1C

config SOC_AE1C1F4051920HH0
	bool
	select SOC_SERIES_E1C
	help
	  Alif Ensemble E1C

config SOC_AE1C1F4051920HH0_RTSS_HE
	bool
	select SOC_AE1C1F4051920HH0

config SOC_AE1C1F4051920PH0
	bool
	select SOC_SERIES_E1C
	help
	  Alif Ensemble E1C

config SOC_AE1C1F4051920PH0_RTSS_HE
	bool
	select SOC_AE1C1F4051920PH0

config SOC_AE1C1F40519205H0
	bool
	select SOC_SERIES_E1C
	help
	  Alif Ensemble E1C

config SOC_AE1C1F40519205H0_RTSS_HE
	bool
	select SOC_AE1C1F40519205H0

config SOC_AE1C1F1041010HH0
	bool
	select SOC_SERIES_E1C
	help
	  Alif Ensemble E1C

config SOC_AE1C1F1041010HH0_RTSS_HE
	bool
	select SOC_AE1C1F1041010HH0

config SOC_AE1C1F1041010PH0
	bool
	select SOC_SERIES_E1C
	help
	  Alif Ensemble E1C

config SOC_AE1C1F1041010PH0_RTSS_HE
	bool
	select SOC_AE1C1F1041010PH0

config SOC_AE1C1F10410105H0
	bool
	select SOC_SERIES_E1C
	help
	  Alif Ensemble E1C

config SOC_AE1C1F10410105H0_RTSS_HE
	bool
	select SOC_AE1C1F10410105H0

config SOC
	default "ae1c1f4051920hh0" if SOC_AE1C1F4051920HH0
	default "ae1c1f4051920ph0" if SOC_AE1C1F4051920PH0
	default "ae1c1f40519205h0" if SOC_AE1C1F40519205H0
	default "ae1c1f1041010hh0" if SOC_AE1C1F1041010HH0
	default "ae1c1f1041010ph0" if SOC_AE1C1F1041010PH0
	default "ae1c1f10410105h0" if SOC_AE1C1F10410105H0
