# Copyright (c) 2026 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config SOC_AE1C1F4051920HH0_RTSS_HE
	select RTSS_HE

config SOC_AE1C1F4051920PH0_RTSS_HE
	select RTSS_HE

config SOC_AE1C1F40519205H0_RTSS_HE
	select RTSS_HE

config SOC_AE1C1F1041010HH0_RTSS_HE
	select RTSS_HE

config SOC_AE1C1F1041010PH0_RTSS_HE
	select RTSS_HE

config SOC_AE1C1F10410105H0_RTSS_HE
	select RTSS_HE
