# Copyright (c) 2025 Alif Semiconductor
#
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_ALIF
	bool "Alif SoC pin controller driver"
	depends on DT_HAS_ALIF_PINCTRL_ENABLED
	default y
	help
	  Enable pin controller for Alif.
